[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/opt/bin/k3s server \
    --cluster-init \
    --tls-san {{ k3s_server_ip }} \
    --write-kubeconfig /etc/rancher/k3s/k3s.yaml \
    --write-kubeconfig-mode 644
Restart=always
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target